.header-wrap.main #menu-bottom {
    padding-top: 70px;
}
.menu-edged-left, 
.menu-edged-right {
    background: none;
}
.menu-edged-left-side, 
.menu-edged-right-side {
    position: absolute;
    top: -2px; left: 0;
    width: 52px; height: 50px;
    background: url(../img/menu_edged_left_left.png) no-repeat;
}
.menu-edged-right .menu-edged-left-side {
    background-image: url(../img/menu_edged_left_right.png);
}
.menu-edged-right-side {
    right: 0; left: auto;
    width: 35px;
    background-image: url(../img/menu_edged_right.png);
}
.menu-edged-center-side {
    position: absolute;
    top: -2px; left: 52px; right: 35px;
    height: 49px;
    background: url(../img/menu_edged_center.png) repeat;
}
.window,
.well,
#menu-auth b {
	behavior: url("css/PIE/PIE.htc");
}
.menu-toggle {
    display: none;
}
.contact-block {
	margin-left: 3em;
}
.contact-block div {
	margin-left: 3.9em;
	font-size: 1.2em;
}
div.contact-phone {
	font-size: 2em;
	font-weight: normal;
	margin: -0.2em 0 -0.2em 0.2em;
}