#banners .well,
.banner {
	 height: expression((this.parentNode.clientHeight - parseInt(this.currentStyle['paddingTop']) - parseInt(this.currentStyle['paddingBottom'])) + 'px');
}
#banners .grid {
    height: 100px;
}
.col-1-1 {
	width: expression((this.parentNode.clientWidth - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-2-3, .col-8-12 {
	width: expression((this.parentNode.clientWidth*2/3 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-2, .col-6-12 {
	width: expression((this.parentNode.clientWidth/2 - 20 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-3, .col-4-12 {
	width: expression((this.parentNode.clientWidth/3 - 20 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-4, .col-3-12 {
	width: expression((this.parentNode.clientWidth/4 - 20  - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-5 {
	width: expression((this.parentNode.clientWidth/5 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-6, .col-2-12 {
	width: expression((this.parentNode.clientWidth/6 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-7 {
	width: expression((this.parentNode.clientWidth/7 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-8 {
	width: expression((this.parentNode.clientWidth/8 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-9 {
	width: expression((this.parentNode.clientWidth/9 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-10 {
	width: expression((this.parentNode.clientWidth/10 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-11 {
	width: expression((this.parentNode.clientWidth/11 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-1-12 {
	width: expression((this.parentNode.clientWidth/12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
} 
.col-11-12 {
	width: expression((this.parentNode.clientWidth*11/12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-10-12 {
	width: expression((this.parentNode.clientWidth*10/12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-9-12 {
	width: expression((this.parentNode.clientWidth*9/12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-5-12 {
	width: expression((this.parentNode.clientWidth*5/12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}
.col-7-12 {
	width: expression((this.parentNode.clientWidth*7/12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}